@model MvcStok.Models.Entity.TBLKATEGORİ
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <h2>Kategori Güncelleme</h2>
    @Html.HiddenFor(x => x.İD, new { @class = "form-control" })<br />
    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
    <br />
    <button class=" btn btn-info">Kaydet</button>
}


