@model MvcStok.Models.Entity.TBLSATİS
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Satış Paneli</h2>
    <br />
    <label>Ürün Adı:</label>
    @Html.DropDownListFor(x => x.TBLURUNLER.İD, (List<SelectListItem>)ViewBag.drop1, new { @class = "form-control" })
    <br />
    <label>Personel:</label>
    @Html.DropDownListFor(x => x.TBLPERSONEL.İD, (List<SelectListItem>)ViewBag.drop2, new { @class = "form-control" })
    <br />
    <label>Müşteri:</label>
    @Html.DropDownListFor(x => x.TBLMUSTERİ.İD, (List<SelectListItem>)ViewBag.drop3, new { @class = "form-control" })
    <br />
    <label> Fiyat:</label>
    @Html.TextBoxFor(x => x.FİYAT, new { @class = "form-control" })
    <br />

    <button class=" btn btn-info">Satış Yap</button>
</form>



